#jumboStyle{
    background: url('https://thumbs.gfycat.com/DecimalBlandArabianwildcat-size_restricted.gif') no-repeat center;
 background-size: cover;
 color: white;
 font-family: 'Quantico', sans-serif;
 text-align: center;
}